<%= render "devise/shared/error_messages", resource: resource %>

<div class="devise_form">
  <p class="title_devise">Resend confirmation instructions</p>

  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class:"ui fluid form" }) do |f| %>

    <div class="ui divider"></div>

    <%= f.email_field :email, autofocus: true, placeholder: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), :class => 'field', :required => "true"  %>

    <div class="actions">
      <%= f.submit "Resend confirmation instructions", :class => 'ui blue button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>