<%= render "devise/shared/error_messages", resource: resource %>

<div class="devise_form edit">
  <p class="title_devise">EDIT USER</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class:"ui fluid form" }) do |f| %>

    <%= f.file_field :image, :class => 'inline field cursor_on' %>

    <div class="field_set_two">
      <%= f.text_field :name, placeholder: 'name', :class => 'field_two name' %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email', :class => 'field_two email' %>      
    </div>

    <div class="field_set_two">
      <%= f.number_field :age, placeholder: 'age', :class => 'field_two age' %>
      <%= f.number_field :phone, placeholder: 'phone', :class => 'field_two phone' %>
    </div>

    <%= f.text_field :address, placeholder: 'address', :class => 'inline field' %>

    <%= f.text_area :description, placeholder: 'description', :class => 'inline field' %>

    <%= f.password_field :current_password, placeholder: "current-password for alter informations", :class => 'inline field', :required => "true" %>

    <div class="field_set_two">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'password', :class => 'field_two password' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password_confirmation', :class => 'field_two password' %>
    </div>

    <div class="ui divider"></div>

    <div class="actions">
      <%= f.submit "Update", :class => "ui green button", :data => {:confirm => "You Sure?"} %>

      <%#= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => "ui red button" %>

      <%= link_to "Back", :back, :class => "ui red button" %>

    </div>

  <% end %>
</div>
