<%= render "devise/shared/error_messages", resource: resource %>

<div class="devise_form registration">
  <p class="title_devise">FAÇA SEU CADASTRO</p>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class:"ui fluid form" }) do |f| %>

    <div class="ui divider"></div>

    <div class="field_set_two">
      <%= f.text_field :name, placeholder: 'name', :class => 'field_two name', :required => "true" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email', :class => 'field_two email', :required => "true" %> 
    </div>

    <div class="field_set_two">
      <%= f.number_field :age, placeholder: 'age', :class => 'field_two age' %>
      <%= f.number_field :phone, placeholder: 'phone', :class => 'field_two phone' %>
    </div>

    <%= f.text_field :address, placeholder: 'address', :class => 'inline field' %>

    <%= f.text_area :description, placeholder: 'description', :class => 'inline field' %>

    <div class="field_set_two">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: 'password', :class => 'field_two password', :required => "true" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'password_confirmation', :class => 'field_two password', :required => "true" %>
    </div>

    <div class="ui divider"></div>

    <div class="actions">
      <%= f.submit "Sign up", :class => 'ui positive button' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>