<%= form_with(model: publication, local: true, html: {class:"ui fluid form" }) do |form| %>
  <% if publication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(publication.errors.count, "error") %> prohibited this publication from being saved:</h2>

      <ul>
        <% publication.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <br>

  <div class="field">
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :Categoria %>
    <%= collection_select(:publication, :category_id, @categories, :id, :name, {:prompt => true, :multiple=>true }) %>
  </div>

  <div class="field">
    <%= form.label :Usuário %>
    <%= collection_select(:publication, :user_id, @users_admin, :id, :name, {:prompt => true, :multiple=>true }) %>
  </div>

  <div class="actions">
    <%= form.submit 'Enviar', :class => 'ui blue button' %>
  </div>

  <div class="ui divider"></div>

<% end %>
