<p id="notice"><%= notice %></p>

<h1>Publications</h1>

<table class="ui celled table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Categoria</th>
      <th>Usuário</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @publications.each do |publication| %>
      <tr>
        <td><%= publication.title %></td>
        <td><%= publication.description %></td>
        <td><%= publication.category.name %></td>
        <td><%= publication.user.name %></td>

        <td><%= link_to 'Show', publication %></td>
        <td><%= link_to 'Edit', edit_publication_path(publication) %></td>
        <td><%= link_to 'Destroy', publication, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication', new_publication_path %>
