<%= render "devise/shared/error_messages", resource: resource %>

<div class="devise_form">
  <p class="title_devise">Change your password</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class:"ui fluid form" }) do |f| %>

    <%= f.hidden_field :reset_password_token %>

    <div class="ui divider"></div>

    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", :class => 'field', :required => "true" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => 'field', :required => "true" %>

    <div class="actions">
      <%= f.submit "Change my password", :class => 'ui blue button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>