<%= render "devise/shared/error_messages", resource: resource %>

<div class="devise_form">
  <p class="title_devise">Forgot your password?</p>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class:"ui fluid form" }) do |f| %>

    <div class="ui divider"></div>

    <%= f.email_field :email, autofocus: true, placeholder: "email", :class => 'inline field', :required => "true" %>

    <div class="actions">
      <%= f.submit "Send me reset password instructions", :class => 'ui blue button' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>