<div class="menu_superior">
  <p class="opina_livre">OPINA LIVRE</p>

  <div class="center">
    <% if user_signed_in? %>
      <a class="option_superior feed <%= 'selected' if @feed == true %>" href="/feed">Feed</a>
      <a class="option_superior geral <%= 'selected' if @geral == true %>" href="/geral">Geral</a>
      <a class="option_superior pessoas <%= 'selected' if @pessoas == true %>" href="/pessoas">Pessoas</a>    
    <% end %>
  </div>

  <div class="right">
    <% if user_signed_in? %>

      <div class="ui dropdown">
        <p><i class="user icon"></i></p>

        <div class="menu padding_top">
          <div class="dados_dropdown">
            <% if current_user.image.attached? %>
              <%= image_tag current_user.image, :size => "240x180" %>
            <% else %>
              <%= image_tag 'sem_foto', :size => "240x180" %>
            <% end %>

            <br class="item">

            <p class="item_dropdown name"><%= current_user.name %></p>
            <p class="item_dropdown email"><%= current_user.email %></p>        
          </div>

          <div class="ui divider"></div>

          <div class="buttons_dropdown">
            <%= link_to 'editar', edit_user_registration_path, :class => 'item_dropdown ui blue button' %>
            <%= link_to 'sair', destroy_user_session_path, :class => 'item_dropdown ui red button' %>            
          </div>

          <div class="ui divider"></div>

          <div class="view_follow">
            <p class="open_view_follow" onclick="$('.ui.modal.seguidores').modal('show');">Seguidores</p>
            <p class="open_view_follow" onclick="$('.ui.modal.seguindo').modal('show');">Seguindo</p>
          </div>

        </div>
      </div>

      <% if current_user.admin == true %>
        <div class="ui dropdown">
          <p><i class="paperclip icon"></i></p>

          <div class="menu">
            <div class="dados_dropdown">

              <br class="item">
      
              <p>Opções de administrador do site</p>

              <div class="ui divider"></div>

              <%= link_to notices_path do %>
                <p class="item_admin">Notícias</p>
              <% end %>

              <%= link_to publications_path do %>
                <p class="item_admin">Tópicos</p>
              <% end %>

              <%= link_to reports_path do %>
                <p class="item_admin">Reports</p>
              <% end %>

              <%= link_to users_path do %>
                <p class="item_admin">Usuários</p>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>

    <% else %>
      <%= link_to 'login', new_user_session_path, :class => 'text_devise_menu' %>
      <%= link_to 'registro', new_user_registration_path, :class => 'text_devise_menu' %>
    <% end %>

    <div class="ui modal users_modal seguindo">
      <i class="close icon" onclick="$('.ui.modal').modal('hide');"></i>

      <div class="header">Pessoas que você está seguindo no momento -> <%= current_user.users.count if user_signed_in? %></div>

      <div class="content flex_column height_max_modal">
        <% if user_signed_in? %>
          <% current_user.users.each do |u| %>
            <div class="flex_row">
              <% if u.image.attached? %>
                <%= image_tag u.image, :size => "160x100" %>
              <% else %>
                <%= image_tag 'sem_foto', :size => "160x100" %>
              <% end %>

              <div class="margin_left_15 flex_column">
                <p><strong>Nome: </strong><%= u.name %></p>
                <p><strong>E-mail: </strong><%= u.email %></p>

                <% if u.admin == true %>
                  <p><strong>Usuário</strong> administrador</p>
                <% else %>
                  <p><strong>Tipo de usuário:</strong> normal</p>
                <% end %>         
              </div>              
            </div>

            <div class="ui divider"></div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="ui modal users_modal seguidores">
      <i class="close icon" onclick="$('.ui.modal').modal('hide');"></i>

      <% if user_signed_in? %>
        <% followers = 0 %>

        <% User.all.each do |follower| %>
          <% follower.users.each do |follower_user| %>
            <% followers = followers+1 if follower_user.id == current_user.id %>
          <% end %>
        <% end %>

        <div class="header">Seus seguidores -> <%= followers %></div>

        <div class="content flex_column height_max_modal">
          <% User.all.each do |u| %>
            <% if u.users.include? current_user %>
              <div class="flex_row">
                <% if u.image.attached? %>
                  <%= image_tag u.image, :size => "160x100" %>
                <% else %>
                  <%= image_tag 'sem_foto', :size => "160x100" %>
                <% end %>

                <div class="margin_left_15 flex_column">
                  <p><strong>Nome: </strong><%= u.name %></p>
                  <p><strong>E-mail: </strong><%= u.email %></p>

                  <% if u.admin == true %>
                    <p><strong>Usuário</strong> administrador</p>
                  <% else %>
                    <p><strong>Tipo de usuário:</strong> normal</p>
                  <% end %>         
                </div>              
              </div>

              <div class="ui divider"></div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div> 