<div class="main">
  <%= render 'menu_superior' %>

  <div class="ui container content">
    <p class="separar_do_menu_dashboard">Opina Livre é um site de opiniões online criado com a intenção de motivar as pessoas a estudarem e tornarem seu âmbito de conhecimentos maiores atrávés de tópicos aleatórios com categorias específicas ou tópicos publicados por pessoas que você tem maior intimidade ou admiração PROFISSIONAL</p>

    <div class="ui divider"></div>

    <div class="text_and_image">
      <div class="text_column">
        <p class="faça_o_login">Faça seu login para acessar</p>
        <p class="faça_o_login">todos os conteúdos e não</p>
        <p class="faça_o_login">deixe nada escapar de</p>
        <p class="faça_o_login">suas mãos como um</p>
        <p class="faça_o_login">POMBO</p>    
      </div>
      
      <%= image_tag 'muttley' %>
    </div>

    <div class="ui divider"></div>
  </div>
</div>