<% content_for :title do %>
 - Publicações
<% end %>

<div class="main">
  <%= render 'menu_superior' %>

  <div class="ui container content">

    <div class="adicionar_nova_publicação separar_do_menu">
      <p>Todos os tópicos das pessoas que você está seguindo no momento.</p>
      <p class="title_novo_topico" onclick="$('.new_topico_modal').modal('show')"><strong>Novo tópico</strong></p>
    </div>

    <p>Adicione um novo tópico pra criar debates</p>

    <div class="ui divider"></div>

    <div class="ui modal new_topico_modal">
      <i class="close icon" onclick="$('.ui.modal').modal('hide');"></i>

      <div class="header">
        Nova publicação
      </div>

      <div class="content report_content_modal">
        <%= form_for @publication, html: {class:"ui fluid form" } do |f| %>

          <div class="double_select">
            <%= f.text_field :title, :placeholder => 'Título', :required => 'true' %>            
            <%= collection_select(:publication, :category_id, @categories, :id, :name, {:prompt => 'Escolha uma categoria', :multiple=>true }) %>
          </div>

          <div class="ui divider"></div>

          <%= f.text_area :description, :placeholder => 'Conteúdo', :required => 'true' %>

          <div class="ui divider"></div>

          <%= f.file_field :image, :prompt => 'Escolha uma categoria', class: 'cursor_on' %>

          <div class="ui divider"></div>

          <%= f.submit "Enviar tópico", :class => 'ui positive button' %>
        <% end %>
      </div>
    </div>

    <% if notice %>

      <div class="ui success message sucess_message">
        <div class="header">
          <i class="close icon" onclick="$('.sucess_message').hide()"></i>
          <%= notice %>
        </div>
      </div>

    <% end %>

    <% if alert %>

      <div class="ui error message error_message">
        <div class="header">
          <i class="close icon" onclick="$('.error_message').hide()"></i>
          <%= alert %>
        </div>
      </div>

    <% end %>

    <% if @publications_by_follow.count > 0 %>

      <% @publications_by_follow.each do |p| %>
        <div class="ui modal <%= p.id %>">
          <i class="close icon" onclick="$('.ui.modal.<%= p.id %>').modal('hide');"></i>

          <div class="header">
            Dados da publicação
          </div>

          <div class="content publication_content">

            <div class="publication_content_image">
              <% if p.image.attached? %>
                <%= image_tag p.image, :size => "240x180" %>
              <% else %>
                <%= image_tag 'sem_foto', :size => "240x180" %>
              <% end %>

              <div class="ui divider"></div>
            </div>

            <div class="publication_content_informations">
              <h1><%= p.title %></h1>

              <div class="ui divider"></div>

              <p>Categoria: <%= p.category.name %></p>

              <p>Criador: <%= p.user.name %></p>
              <p>E-mail: <%= p.user.email %></p>

              <div class="ui divider"></div>

              <div class="publication_content_description">
                <p><%= p.description %></p>                  
              </div>
            </div>

          </div>
        </div>

        <div class="publication_card">
          <div class="publication_card_image">
            <% if p.image.attached? %>
              <%= image_tag p.image, :size => "240x180" %>
            <% else %>
              <%= image_tag 'sem_foto', :size => "240x180" %>
            <% end %>
            <p>Categoria: <%= p.category.name %></p>
            <p>Criador: <%= p.user.name %></p>

            <% if p.user.email != current_user.email %>
              <div class="ui divider"></div>

              <div class="actions_line_deslike">
                <p>Likes: <%= p.like %> 
                  <%= link_to increment_like_f_path(publication_like: p) do %>
                    <i class="thumbs up icon like"></i>
                  <% end %>
                </p>
                <p>Deslikes: <%= p.deslike %> 
                  <%= link_to increment_deslike_f_path(publication_deslike: p) do %>
                    <i class="thumbs down icon deslike"></i>
                  <% end %>
                </p>                
              </div>
            <% end %>
          </div>

          <div class="publication_card_informations">
            <div class="title_and_icons">
              <h1 class="title"><%= p.title %></h1>

              <div class="icones_on_publications">
                <% if p.user.email == current_user.email %>
                  <%= link_to p, method: :delete, data: { confirm: 'Deseja realmente deletar seu tópico? :(' } do %>
                    <p><i class="trash icon"></i></p>
                  <% end %>
                <% else %>
                  <p><i></i></p>
                <% end %>

                <p><i class="expand arrows alternate icon" onclick="$('.ui.modal.<%= p.id %>').modal('show')"></i></p>
              </div>
            </div>
            <p class="description">Descrição: <%= p.description %></p>
          </div>
        </div>

        <div class="ui divider"></div>
      <% end %>
    <% else %>
      <h1>Ainda não há nada por aqui</h1>
      <div class="ui divider"></div>
    <% end %>

  </div>
</div>