<% content_for :title do %>
 - Geral
<% end %>

<div class="main">
  <%= render 'menu_superior' %>

  <div class="ui container content">

    <p class="separar_do_menu">Todos os tópicos presentes no sistema com uma função de filtros integrada</p>

    <div class="ui divider"></div>

    <% if notice %>

      <div class="ui success message sucess_message">
        <div class="header">
          <i class="close icon" onclick="$('.sucess_message').hide()"></i>
          <%= notice %>
        </div>
      </div>

    <% end %>

    <% if alert %>

      <div class="ui error message error_message">
        <div class="header">
          <i class="close icon" onclick="$('.error_message').hide()"></i>
          <%= alert %>
        </div>
      </div>

    <% end %>

    <div class="all_publications_container">
      <% if @categories_names.count > 0 and @publications.count > 0 %>
        <div class="filtros_de_busca">
          <p class="title_search" onclick="$('.menu_filtros').toggle(); $('.caret.down.icon').toggle(); $('.caret.up.icon').toggleClass('hide');">Filtros para busca de tópicos<i class="caret down
       icon"></i><i class="caret up
       icon hide"></i></p>

          <div class="menu_filtros">
            <%= search_form_for @q, url: '/feed', html: { class: 'ui tinny form' } do |f| %>
              <div class="fields">
                <div class="three wide field">
                  <%= f.label :title %>
                  <%= f.search_field :title_cont, maxlength: 100  %>
                </div>

                <div class="three wide field">
                  <%= f.label :Usuário %>
                  <%= f.search_field :user_name_cont, maxlength: 100  %>
                </div>

                <div class="three wide field">
                  <%= f.label :categorias %>
                  <%= f.select :category_name_cont, @categories_names, :prompt => 'Categoria para busca' %>
                </div>
              </div>

              <br class="item">

              <div class="fields">
                <div class="field">
                  <%= link_to 'Limpar', feed_path, class: 'ui gray button' %>
                  <%= f.submit 'Pesquisar', class: "ui blue button" %>
                </div>
              </div>
            <% end %>          
          </div>
        </div>

        <div class="ui divider"></div>

        <% @publications.each do |p| %>

          <div class="ui modal <%= p.id %>">
            <i class="close icon" onclick="$('.ui.modal.<%= p.id %>').modal('hide');"></i>

            <div class="header">
              Dados da publicação
            </div>

            <div class="content publication_content">

              <div class="publication_content_image">
                <% if p.image.attached? %>
                  <%= image_tag p.image, :size => "240x180" %>
                <% else %>
                  <%= image_tag 'sem_foto', :size => "240x180" %>
                <% end %>

                <div class="ui divider"></div>
              </div>

              <div class="publication_content_informations">
                <h1><%= p.title %></h1>

                <div class="ui divider"></div>

                <p>Categoria: <%= p.category.name %></p>

                <p>Criador: <%= p.user.name %></p>
                <p>E-mail: <%= p.user.email %></p>

                <div class="ui divider"></div>

                <div class="publication_content_description">
                  <p><%= p.description %></p>                  
                </div>
              </div>

            </div>
          </div>

          <div class="publication_card">
            <div class="publication_card_image">
              <% if p.image.attached? %>
                <%= image_tag p.image, :size => "240x180" %>
              <% else %>
                <%= image_tag 'sem_foto', :size => "240x180" %>
              <% end %>
              <p>Categoria: <%= p.category.name %></p>
              <p>Criador: <%= p.user.name %></p>

              <% if p.user.email != current_user.email %>
                <div class="ui divider"></div>

                <div class="actions_line_deslike">
                  <p>Likes: <%= p.like %>  
                    <%= link_to increment_like_g_path(publication_like: p) do %>
                      <i class="thumbs up icon like"></i>
                    <% end %>
                  </p>

                  <p>Deslikes: <%= p.deslike %>  
                    <%= link_to increment_deslike_g_path(publication_deslike: p) do %>
                      <i class="thumbs down icon deslike"></i>
                    <% end %>
                  </p>                
                </div>
              <% end %>
            </div>

            <div class="publication_card_informations">
              <div class="title_and_icons">
                <h1 class="title"><%= p.title %></h1>

                <div class="icones_on_publications">
                  <% if p.user.email == current_user.email %>
                    <%= link_to p, method: :delete, data: { confirm: 'Deseja realmente deletar seu tópico? :(' } do %>
                      <p><i class="trash icon"></i></p>
                    <% end %>
                  <% else %>
                    <p><i></i></p>
                  <% end %>

                  <p><i class="expand arrows alternate icon" onclick="$('.ui.modal.<%= p.id %>').modal('show')"></i></p>
                </div>
              </div>
              <p class="description">Descrição: <%= p.description %></p>
            </div>
          </div>

          <div class="ui divider"></div>

        <% end %>
      <% else %>
        <h1>Ainda não há nada por aqui</h1>
        <div class="ui divider"></div>
      <% end %>
    </div>
  </div>
</div>