<% content_for :title do %>
 - Usuários
<% end %>

<div class="main">
  <%= render 'menu_superior' %>

  <div class="ui container content">
    <div class="all_users_container">

      <p class="separar_do_menu">Listagem de todos os usuários do sistema. Siga novas pessoas para demonstrar mais interesse em seus tópicos. Obs.: você não aparece aqui!</p>

      <div class="ui divider"></div>

      <p class="red" onclick="$('.ui.modal.email_modal').modal('show');">Reportar um usuário <i class="exclamation triangle icon message_perfil"></i></p>

      <div class="ui divider"></div>

      <div class="filtros_de_busca">
        <p class="title_search" onclick="$('.menu_filtros').toggle(); $('.caret.down.icon').toggle(); $('.caret.up.icon').toggleClass('hide');">Filtros para busca de usuário<i class="caret down
 icon"></i><i class="caret up
       icon hide"></i></p>

        <div class="menu_filtros">
          <%= search_form_for @q, url: '/pessoas', html: { class: 'ui tinny form' } do |f| %>
            <div class="fields">
              <div class="three wide field">
                <%= f.label :nome %>
                <%= f.search_field :name_cont, maxlength: 100  %>
              </div>
              <div class="three wide field">
                <%= f.label :email %>
                <%= f.search_field :email_cont, maxlength: 100  %>
              </div>
            </div>

            <br class="item">

            <div class="fields">
              <div class="field">
                <%= link_to 'Limpar', pessoas_path, class: 'ui gray button' %>
                <%= f.submit 'Pesquisar', class: "ui blue button" %>
              </div>
            </div>
          <% end %>          
        </div>
      </div>

      <div class="ui divider"></div>

      <% if notice %>

        <div class="ui success message sucess_message">
          <div class="header">
            <i class="close icon" onclick="$('.sucess_message').hide()"></i>
            <%= notice %>
          </div>
        </div>

      <% end %>

      <% if alert %>

        <div class="ui error message error_message">
          <div class="header">
            <i class="close icon" onclick="$('.error_message').hide()"></i>
            <%= alert %>
          </div>
        </div>

      <% end %>

      <% if @users.count > 1 %>

        <% @users.each do |u| %>
          <div class="users_card <%= 'none' if u.email == current_user.email %>">
            <div class="users_card_image">
              <% if u.image.attached? %>
                <%= image_tag u.image, :size => "140x120" %>
              <% else %>
                <%= image_tag 'sem_foto', :size => "140x120" %>
              <% end %>
            </div>

            <div class="users_card_informations">
              <p class="users_card_nickname">
                <%= u.name %>
                <% if u.admin == true %>
                  ADM
                <% end %>
              </p>

              <p class="users_card_email"><%= u.email %></p>

              <div class="actions_perfil">
                <% if current_user.users.include? u %>
                  <%= link_to remote_follower_path(:user_email => u.email), data: { confirm: 'Deixar de seguir o usuário?' } do %>
                    <i class="user times icon remover_perfil"></i>
                  <% end %>
                <% else %>
                  <%= link_to add_new_follower_path(:user_email => u.email) do %>
                    <i class="user plus icon adicionar_perfil"></i>
                  <% end %>                  
                <% end %>

                <i class="eye icon olhar_perfil" onclick="$('.ui.modal.users_modal.<%= u.id %>').modal('show');"></i>
              </div>
            </div>
          </div>

          <div class="ui divider <%= 'none' if u.email == current_user.email %>"></div>

          <div class="ui modal email_modal">
            <i class="close icon" onclick="$('.ui.modal').modal('hide');"></i>

            <div class="header">
              Reportar usuário
            </div>

            <div class="content report_content_modal">

              <%= form_for @report, html: {class:"ui fluid form" } do |f| %>
                  <%= collection_select(:report, :motivation_id, Motivation.all, :id, :name, {:prompt => 'Escolha um motivo para o report', :multiple=>true }) %>

                  <br>

                  <%= collection_select(:report, :user_id, User.all, :id, :email, {:prompt => 'Escolha o usuário reportado para evitar erros de localização', :multiple=>true }) %>

                  <br>

                  <%= f.text_area :description, :placeholder => 'Descrição do report' %>

                  <div class="ui divider"></div>

                <%= f.submit "Enviar report", :class => 'ui positive button' %>
              <% end %>

            </div>
          </div>

          <div class="ui modal users_modal <%= u.id %>">
            <i class="close icon" onclick="$('.ui.modal').modal('hide');"></i>

            <div class="header">
              Dados de usuário
            </div>

            <div class="content users_content_modal">
              <div class="modal_image_user">
                <% if u.image.attached? %>
                  <%= image_tag u.image, :size => "140x120" %>
                <% else %>
                  <%= image_tag 'sem_foto', :size => "140x120" %>
                <% end %>

                <div class="ui divider width_30"></div>

                <div class="followers_and_follow">
                  <p class="ff">Seguindo: <%= u.users.count %></p>

                  <% teste = 0 %>

                  <% User.all.each do |teste_follow| %>
                    <% teste_follow.users.each do |other_user_follow| %>
                      <% teste = teste+1 if other_user_follow.id == u.id %>
                    <% end %>
                  <% end %>

                  <p class="ff">Seguidores: <%= teste %></p>                
                </div>
              </div>

              <div class="modal_informations_user">
                <h1>
                  <%= u.name %>
                  <% if u.admin == true %>
                   ADM
                  <% end %>
                </h1>

                <p><%= u.email %></p>

                <div class="ui divider"></div>

                <div class="age_and_phone">
                  <p><strong>Idade: </strong><%= u.age if u.age %></p>
                  <p><strong>Telefone: </strong><%= u.phone if u.phone %></p>
                </div>

                <p><strong>Endereço: </strong><%= u.address if u.address %></p>

                <p class="description_in_modal"><strong>Descrição: </strong><%= u.description if u.description %></p>
              </div>
            </div>
          </div>
        <% end %>
      <% else %>
        <h1>Nenhum usuário encontrado</h1>
        <div class="ui divider"></div>
      <% end %>

    </div>
  </div>
</div>