<% content_for :title do %>
 - Sobre
<% end %>

<div class="main">
  <%= render 'menu_superior' %>

  <div class="ui container content">
    <p class="separar_do_menu">Siga nossos conteúdos não apenas aqui, mas também em outras redes SOCIAIS</p>

    <div class="ui divider"></div>
  </div>
</div>