<p id="notice"><%= notice %></p>

<h1>Motivations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motivations.each do |motivation| %>
      <tr>
        <td><%= motivation.name %></td>
        <td><%= motivation.description %></td>
        <td><%= link_to 'Show', motivation %></td>
        <td><%= link_to 'Edit', edit_motivation_path(motivation) %></td>
        <td><%= link_to 'Destroy', motivation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motivation', new_motivation_path %>
