<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @motivation.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @motivation.description %>
</p>

<%= link_to 'Edit', edit_motivation_path(@motivation) %> |
<%= link_to 'Back', motivations_path %>
