<%= render "devise/shared/error_messages", resource: resource %>

<div class="devise_form login">
  <p class="title_devise">LOGIN</p>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class:"ui fluid form" }) do |f| %>

    <div class="ui divider"></div>

    <%= f.email_field :email, autofocus: true, placeholder: "email", :class => 'field', :required => "true" %>
    <%= f.password_field :password, placeholder: "current-password", :class => 'field', :required => "true" %>

    <% if devise_mapping.rememberable? %>
      <div class="inline field check_box">
        <%= f.check_box :remember_me, :class => 'remember_me' %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", :class => 'ui blue button' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>