/*
*= require semantic-ui-sass
*
*= require_self
*/

 body, html {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, Arial, sans-serif;
}

p {
  margin: 0;

  font-size: 20px;
}

a {
  text-decoration: none;

  margin: 0;
  font-size: 20px;
}

.button {
  margin-bottom: 2px !important;
}

/* PALETA DE CORES PADRÕES DO SISTEMA */

:root {
  --primary: #2185D0;
  --secondary: #11111100;

  --white: #fefefe;
  --black: #111111;
  
  --green: #04d362;
  --gray: #aaaaaa;

  --color: #fefefe;
  --color-notice: #aaa000;
}