body {
  background: url('/assets/plano_de_fundo_login2') no-repeat fixed center;
  background-size: 100%;
}

.cursor_on {
  cursor: pointer;
}

.form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  width: 95% !important;

  margin: auto;
}

.actions {
  display: flex !important;
  flex-direction: column;
}

.devise_form {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  margin: auto;
}

.registration {
  width: 50%;

  height: 90vh;
}

.edit {
  width: 50%;

  height: 90vh;
}

.login {
  width: 35%;

  height: 60vh;  
}

.field_set_two {
  display: flex;
  justify-content: space-between;

  width: 100%;

  margin-bottom: 12px;
}

.field {
  width: 100% !important;

  margin-bottom: 12px !important;
}

.field_two {
  width: 100% !important;
}

.age {
  width: 15% !important;
}

.phone {
  width: 83% !important;
}

.password {
  width: 49% !important;
}

.name, .email {
  width: 49% !important;
}

.title_devise {
  font-size: 30px;
  font-weight: bold;

  margin-bottom: 0;

  color: #28bef3;

  font-family: Arial, Helvetica, serif;
}

.check_box {
  text-align: center;
  align-items: center;

  margin: 12px 0 !important;
}

.field_with_errors {
  color: red;

  width: 100% !important;

  border: 0 !important;
}

.warning {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  padding: 2%;

  top: 0;
  width: 100%;
}

.forgot_password, .check_box {
  font-size: 15px;

  color: white !important;
}

.inline.field > label {
  color: white !important;
}