body {
  background-color: var(--color);
}

h1 {
  margin: 0;
}

textarea {
  height: 5rem !important;
}

.width_30 {
  width: 50% !important;
}

.margin_bottom_5px {
  margin-bottom: 5px !important;
}

.like {
  color: blue;
}

.deslike {
  color: red;
}

.followers_and_follow {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.ff {
  font-size: 14px !important;
}

.actions_line_deslike {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.red {
  cursor: pointer;
  font-weight: bold;
  color: red;
}

.margin_left_15 {
  margin-left: 15px;
}

.flex_row {
  display: flex !important;
  flex-direction: row !important;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.height_max_modal {
  height: 70vh;
  max-height: 70vh;

  overflow: auto;
}

.view_follow {
  display: flex;
  flex-direction: row;

  align-items: center;
  justify-content: space-around;
}

.open_view_follow {
  font-size: 15px;
  color: var(--black) !important;

  cursor: pointer;
}

.description_text {
  height: 10vh !important;
  max-height: 10vh !important;
  overflow: auto !important;
}

.selected {
  border: solid 2.5px var(--color);
  border-radius: 7px 0 7px 0;

  padding: 2%;
}

.description_in_modal {
  height: 40vh;
  max-height: 40vh;

  overflow: auto;
}

.hide {
  display: none !important;
}

.remover_perfil {
  color: red;
}

.separar_do_menu {
  margin-top: 11vh !important;
}

.separar_do_menu_dashboard {
  margin-top: 5vh !important;
}

.none {
  display: none !important;
}

.cursor_on {
  cursor: pointer;
}

.text_and_image {
  background-color: var(--color);
  padding: 15px;
}

.trash, .triangle {
  color: red !important;
}

.eye {
  color: blue !important;
}

.adicionar_perfil {
  color: green !important;
}

.ui.tinny.form {
  position: static !important;
}

.message {
  position: static !important; 
}

.icones_on_publications {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 10% !important;
}

.icon {  
  cursor: pointer;
}

.double_select {
  display: flex;
  flex-direction: row;
}

.option_superior {
  color: var(--color);
}

.actions_menu_superior {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  width: 40% !important;

  color: var(--color);
}

.fields {
  margin: 0 !important;
}

.menu {
  overflow: auto;

  padding: 0 10px 10px 10px !important;

  border-style: solid;
  border-width: 9px 11px 9px 0;
  border-color: transparent red transparent transparent; 
}

.padding_top {
  padding-top: 5px !important;
}

.add_publication_container {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.add_publication {
  cursor: pointer;
}

.publication {
  width: 30% !important;
  padding: 5% !important;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu_superior {
  display: flex;
  flex-direction: row;

  position: fixed;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;

  background-color: #3b2b82;

  margin-bottom: 5px;
  padding: 2%;

  color: var(--color);
}

.center, .right {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  color: var(--color) !important;
}

.center {
  width: 30%;
}

.right {
  width: 10%;
}

.content {
  display: flex;
  flex-direction: row;

  width: 99%;
  height: 88vh;

  margin: auto;
}

.opina_livre {
  font-size: 40px;
  font-weight: bold;
}

.text_devise_menu {
  color: white !important;
}

.menu {
  flex-direction: column !important;
  align-items: center !important;
}

.buttons_dropdown, .dados_dropdown {
  text-align: center;

  display: flex;
  flex-direction: column;

  color: black;
}

.name {
  font-size: 15px;
}

.email {
  font-size: 12px;
}

.all_publications_container, .all_users_container {
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  width: 100%;
  height: auto;
}

.all_categories_filter {
  width: 19%;
  max-height: 12px;

  border: solid 1px #3b2b82;
}

.publication_card, .users_card {
  display: flex;
  flex-direction: row;

  width: 100% !important;
}

.publication_card_informations, .users_card_information {
  display: flex;
  flex-direction: column;

  width: 100%;

  margin-left: 1%;
}

.title {
  font-size: 27px;
}

.description {
  font-size: 17px;

  height: 170px;
  max-height: 170px;
  overflow: auto;

  margin-top: 5px;

  width: 100%;
}

.title_and_icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100% !important;
}

.users_card_informations {
  margin-left: 10px;
}

.users_card_nickname {
  font-weight: bold;
  font-size: 25px;
}

.users_card_email {
  font-size: 17px;
}

.menu_filtros {
  margin: 0 !important;
  display: none;

  border-left: solid 4px #3b2b82;
  padding: 1% 2%;
}

.title_search {
  display: inline;

  cursor: pointer;
}

.message_perfil, .olhar_perfil, .adicionar_perfil {
  cursor: pointer;

  color: black;

  width: 30px !important;
  font-size: 20px !important;
}

.actions_perfil {
  margin-top: 2.5rem;
}

.email_content_modal {
  height: 40vh !important;  
}

.users_content_modal {
  height: 60vh !important;
}

.text_and_image {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.faça_o_login {
  font-size: 40px;
  color: #3b2b82;
}

.item_admin {
  color: black;
}

.publication_content {
  display: flex !important;
  flex-direction: row;

  justify-content: space-between;

  height: 80vh;
}

.publication_content_image {
  display: flex;
  flex-direction: column;

  width: 240px;
}

.publication_content_informations {
  display: flex;
  flex-direction: column;

  width: 70%;
}

.publication_content_description {
  overflow: auto;

  height: 60vh;
  max-height: 60vh;
}

.actions_in_modal {
  display: flex;
  flex-direction: row;

  width: 240px !important;
  justify-content: space-between !important;

  font-size: 20px;
  justify-content: center;
}

.opinioes_peoples_in_modal {
  width: 240px;

  height: 60vh;
  max-width: 60vh;
}

.menu_coment_interation {
  display: none;
}

.users_content_modal {
  display: flex !important;
  flex-direction: row !important;

  justify-content: space-between;
}

.modal_image_user {
  display: flex;
  flex-direction: column;

  width: 30%;
}

.modal_informations_user {
  display: flex;
  flex-direction: column;

  width: 70%;
}

.age_and_phone {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  width: 50%;
}

.report_content_modal {
  height: 60vh;
  max-height: 60vh;
}

.message_in_report {
  font-size: 15px;
}

.adicionar_nova_publicação {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.title_novo_topico {
  cursor: pointer;

  color: #3b2b82;
}