<p id="notice"><%= notice %></p>

<p>
  <strong>Motivation:</strong>
  <%= @report.motivation_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @report.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @report.description %>
</p>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
