<!DOCTYPE html>
<html>
  <head>
    <title>Opina Livre<%= yield :title %></title>
    <link rel="shortcut icon" href="assets/icon">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />

    <%= stylesheet_link_tag 'application_devise', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script type="text/javascript">
      $('.ui.dropdown').dropdown();
    </script>
  </body>
</html>